*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    justify-content: center;
    background-color: rgb(235, 247, 253);
    position: relative;
}

   .inputbox{
   background: rgb(8, 161, 207);
   width: 100%;
   padding: 20px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);    

   }
   
input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:none;
 width: 200px;
 padding: 6px 10px;
 font-size: 0.8rem;

}
input:focus{
    outline: none;
}

button{
padding: 6px 10px;
border: none;
background: rgb(3, 55, 90);
color: #fff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
cursor: pointer;
}
button:focus{
    outline: none;
}
button:hover{
    background: rgba(3, 55, 90, 0.6);
}

.hero{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 350px;
    max-height: 550px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px auto;
    background-color: #fff;
    padding-bottom: 20px;

}

.bg{
    height: 180px;
    background: linear-gradient(to right, rgb(82, 180, 236), rgba(5, 75, 116, 0.5));

}
.container .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    margin: 0 auto;
    margin-top: -50px;

}

.container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    
}

.content{
    padding: 30px 5px 15px 10px;
}

.content .content-body{
    padding-left: 10px;
}

.content .content-body li{
    list-style: none;
    margin-top: 15px;
    padding: 3px 10px;
    font-size: 16px;
}

.content .content-body li strong{
    font-size: 18px;
    text-transform: capitalize;
    color: rgb(39, 39, 39);
}


.span{
    display: none;
    margin-left: calc(75vw);
    margin-top: calc(100vh - 50px);
    background: rgb(8, 161, 207);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);  
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 10px;
    color: #fff;
    z-index: 10;
     position: fixed;
     cursor: pointer;

}
p{
   margin:50vh auto;
   height: 50px;
}
p a{
    margin-right: 6px;
}
.emoji{
    height: 80px;
    width: 80px;
    margin-right: 5px;
    margin-bottom: -25px;
}

@media(max-width:400px){
    .container{
        width: 300px;
    }
}

@media(max-width:350px){
    .container{
        width: 270px;
    }
}
